<footer>
    <div class="container">
         <div class="row">

              <div class="col-md-4 col-sm-4">
                   <p>Россия, Усть-кут</p>
              </div>

              <div class="col-md-4 col-sm-4">
                   <p><a href="mailto:youremail@gmail.com">hello@yourstudio.co</a></p>
                   <p>(+7) 9898989</p>
              </div>
              <div class="col-md-4 col-sm-4">
                    
                    <ul class="social-icon">
                        <li><a href="http://instagram.com/aaberegovoy_nozi" class="fa fa-instagram"></a></li>
                        <li><a href="#" class="fa fa-vk"></a></li>
                        <li><a href="#" class="fa fa-youtube"></a></li>
                    </ul>                          
              </div>
              <div class="clearfix col-md-12 col-sm-12">
                   <hr>
              </div>

              <div class="col-md-6 col-sm-6">
                   <div class="footer-copyright">
                        <p>© {{ this.author }} | All Rights Reserved.</p>
                   </div>
              </div>
         </div>
    </div>
</footer>
